@font-face {
  font-family: 'Raleway-Bold';
  src: url('../fonts/Raleway-Bold/Raleway-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway-Bold/Raleway-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Raleway-Bold/Raleway-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Raleway-Bold/Raleway-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Raleway-Bold/Raleway-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Raleway-Bold/Raleway-Bold.svg#Raleway-Bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url('../fonts/Raleway-Medium/Raleway-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Raleway-Medium/Raleway-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Raleway-Medium/Raleway-Medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Raleway-Medium/Raleway-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Raleway-Medium/Raleway-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Raleway-Medium/Raleway-Medium.svg#Raleway-Medium') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Lato-Medium';
  src: url('../fonts/Lato-Medium/Lato-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Lato-Medium/Lato-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/Lato-Medium/Lato-Medium.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/Lato-Medium/Lato-Medium.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/Lato-Medium/Lato-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('../fonts/Lato-Medium/Lato-Medium.svg#Lato-Medium') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'LatoBold';
  src: url('../fonts/LatoBold/Lato-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/LatoBold/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/LatoBold/Lato-Bold.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/LatoBold/Lato-Bold.woff') format('woff'), /* Pretty Modern Browsers */
  url('../fonts/LatoBold/Lato-Bold.ttf')  format('truetype') /* Safari, Android, iOS */
}



@import "../vendor/bootstrap/scss/bootstrap.scss";
@import "../vendor/bootstrap-slider/scss/bootstrap-slider.scss";
@import "variables.scss";
@import "mixins.scss";
@import "global.scss";
@import "utilities.scss";
@import "navbar/navbar_global.scss";
@import "navbar/navbar_fixed.scss";
@import "navbar/navbar_static.scss";
@import "navbar/navbar_toggle.scss";
@import "navbar/navbar_colors.scss";
@import "cards.scss";
@import "login.scss";
@import "footer.scss";
