<!-- @@master = /layout/app.html-->
<!-- @@block = content -->
<div class="row blue_bg p-4">
    <div class="col-12">
        <form class="d-flex align-items-center flex-wrap flex-md-nowrap clients_search_wrap">
            <div class="input-group d-flex flex-nowrap align-items-center mb-4 mb-md-0">
                <div class="input-group-prepend">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input type="text" class="mx-3 border-bottom-green" placeholder="Пошук по імені чи телефону">
            </div>
        </form>
    </div>
</div>
<div class="row mt-4">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table custom_table">
                <thead class="thead-light">
                <tr>
                    <th>ID</th>
                    <th>Клиент</th>
                    <th>Телефон</th>
                    <th>Стол</th>
                    <th>Создано</th>
                    <th>Время брони</th>
                    <th>Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>189</th>
                    <td>Sam McBride</td>
                    <td>380 67-360-7437</td>
                    <td>209</td>
                    <td>03.04.2018</td>
                    <td>03.04.2018</td>
                    <td>Ожидание</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- @@close -->
