<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>The Table</title>
  <link href="../../../css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../../../css/custom-styles.css" rel="stylesheet" type="text/css">
  <link href="../../../css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  <link href="../../../css/fullcalendar.css" rel="stylesheet" type="text/css">
  <link href="../../../css/scheduler.css" rel="stylesheet" type="text/css">
  <link href="../../../css/fullcalendar.print.css" media="print">
</head>
<body class="fixed-nav" id="page-top">

<nav class="navbar navbar-expand-lg navbar-light fixed-top header" id="mainNav">
  <div class="navbar-brand" href="index.html">Eshak</div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item active">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><img src="../../../img/calendar_akvive.png"></div>
          <span class="nav-link-text pl-4">Календар</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><img src="../../../img/chekin_aktiv.png"></div>
          <span class="nav-link-text pl-4">Check-in</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><img src="../../../img/clients_aktive.png"></div>
          <span class="nav-link-text pl-4">Клієнти</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><span class="count">3</span><img src="../../../img/history_aktive.png"></div>
          <span class="nav-link-text pl-4">Історія</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><img src="../../../img/profile_aktive.png"></div>
          <span class="nav-link-text pl-4">Профайл</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><img src="../../../img/menu_aktive.png"></div>
          <span class="nav-link-text pl-4">Меню</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Выход</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content-wrapper">
  <div class="container-fluid">

<div class="row min_height_calc">
    <div class="col-4">
        <div class="row h-100 menu_nav_columns">
            <div class="col-6 border-right menu_categories p-0">
                <div class="menu_nav_columns__title p-3 d-flex justify-content-between align-items-center border-bottom">
                    <span>Категории</span>
                    <i class="fa fa-plus-circle cursor_pointer" aria-hidden="true" data-toggle="modal" data-target=".category_modal"></i>
                </div>
                <div class="menu_categories__item px-3 py-2 d-flex align-items-center">
                    <i class="fa fa-bars mr-2" aria-hidden="true"></i>
                    <span class="name">Breakfast</span>
                    <span class="fa-stack cursor_pointer ml-auto" data-toggle="modal" data-target=".category_modal">
                       <i class="fa fa-circle fa-stack-2x"></i>
                       <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="menu_categories__item px-3 py-2 d-flex align-items-center menu_categories__item_active">
                    <i class="fa fa-bars mr-2" aria-hidden="true"></i>
                    <span class="name">Раки</span>
                    <span class="fa-stack cursor_pointer ml-auto" data-toggle="modal" data-target=".category_modal">
                       <i class="fa fa-circle fa-stack-2x"></i>
                       <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="menu_categories__item px-3 py-2 d-flex align-items-center">
                    <i class="fa fa-bars mr-2" aria-hidden="true"></i>
                    <span class="name">Хіти Грузинської кухні минулого сторічча</span>
                    <span class="fa-stack cursor_pointer ml-auto" data-toggle="modal" data-target=".category_modal">
                       <i class="fa fa-circle fa-stack-2x"></i>
                       <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
            <div class="col-6 border-right dishes p-0">
                <div class="menu_nav_columns__title p-3 d-flex justify-content-between align-items-center border-bottom">
                    <span>Блюда</span>
                    <i class="fa fa-plus-circle cursor_pointer" aria-hidden="true" data-toggle="modal" data-target=".dish_modal"></i>
                </div>
                <div class="dishes__item px-3 py-2 d-flex align-items-center dishes__item_active">
                    <span class="name">Вареники</span>
                    <span class="price ml-auto">120</span>
                </div>
                <div class="dishes__item px-3 py-2 d-flex align-items-center">
                    <span class="name">Куряча котлета по Київськи</span>
                    <span class="price ml-auto">220</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        <div class="row preorder py-3">
            <div class="col-3">
                <div class="preorder__label">Фото</div>
                <img src="http://via.placeholder.com/190x120" class="img-fluid preorder__main-img"/>
            </div>
            <div class="col-6">
                <div class="preorder__label">Название</div>
                <h1 class="preorder__title">Омлет з фермерським курчам та моцарелою</h1>
            </div>
            <div class="col-3">
                <div class="preorder__label">Опубликовано</div>
                <label class="switch mt-2">
                    <input type="checkbox" name="status" checked="checked">
                    <span class="slider switcher round"></span>
                </label>
            </div>
        </div>
    </div>
</div>


<div class="modal fade category_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 border-0">
            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="form-group custom_form_group">
                            <label for="category_name" class="h5 text-blue">Название категории</label>
                            <input type="text" class="form-control" id="category_name" name="category_name">
                        </div>
                        <input type="submit" class="custom-btn pink_btn mx-auto" value="Сохранить" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade dish_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 border-0">
            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="form-group custom_form_group">
                            <label for="dish_category" class="h6 text-blue">Категория:</label>
                            <select class="form-control border-0 m-0 p-0 font_size_22 color_custom_blue" id="dish_category" name="dish_category">
                                <option selected="selected">Breakfast</option>
                                <option>Раки</option>
                                <option>Закуски</option>
                            </select>

                        </div>
                        <div class="form-group custom_form_group">
                            <label for="dish_name" class="h6 text-blue">Название блюда:</label>
                            <input type="text" class="form-control" id="dish_name" name="dish_name">
                        </div>
                        <div class="form-group custom_form_group">
                            <label for="dish_price" class="h6 text-blue">Цена:</label>
                            <input type="text" class="form-control" id="dish_price" name="dish_price">
                        </div>
                        <input type="submit" class="custom-btn pink_btn mx-auto" value="Сохранить" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


  </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

</div>


  <script src="../../../js/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="../../../js/bootstrap-datepicker.min.js"></script>
  <script src="../../../locales/bootstrap-datetimepicker.ru.js" charset="UTF-8"></script>
  <script src="../../../js/jquery.form-validator.min.js"></script>
  <script src="../../../js/jquery.inputmask.bundle.js"></script>

  <script src="../../../js/fullcalendar.js"></script>
  <script src="../../../js/scheduler.min.js"></script>
  <script src="../../../locales/ru.js"></script>
  <script src="../../../js/jquery.easing.min.js"></script>
  <script src="../../../js/bootstrap-slider.min.js"></script>
  <script src="../../../js/bundle.js"></script>
  <script>
      $(document).ready(function() {

          $('.selected_date_img').on('click', function(event){
              event.preventDefault();
              $('#selected_date').focus();
          });

          $('#selected_date').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
          }).on('changeDate', function(e) {
              console.log(e.format(0,"yyyy-mm-dd"));
          });

          $('#profile_bdate').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
              endDate: "<?=date('Y-m-d')?>",
          });



          var json_array = '[' +
              '{"id":"1","start":"2018-04-04T12:00:00", "end":"2018-04-04T16:00:00", "title":"event 1" },' +
              '{"id":"2","start":"2018-04-04T15:00:00", "end":"2018-04-04T16:30:00", "title":"event 2" },' +
              '{"id":"3","start":"2018-04-04T14:00:00", "end":"2018-04-04T17:45:00", "title":"event 3" }]';

          var convarray = JSON.parse(json_array);

          console.log(convarray);

          $('#calendar').fullCalendar({
              defaultDate: '2018-04-04',
              lang: 'ru',
              snapDuration : '24:00:00',
              timeFormat: 'HH:mm{ - HH:mm}',
              axisFormat: 'HH:mm',
              customButtons: {
                  myCustomButton: {
                      text: 'Выбрать дату',
                      click: function() {
                          $("#fullcalendar_datepicker").show();
                      }
                  }
              },
              header: {
                  left: 'prev,next today myCustomButton',
                  center: 'title',
                  right: ''
              },
              eventClick: function(calEvent, jsEvent, view) {
                  location.href = "http://itpromotion.com.ua/"+calEvent.id;
              },
              defaultView: 'timelineDay',
              nowIndicator:true,
              eventSources : [
                  {
                      events : convarray,
                      color : '#3f5f99',
                      textColor : '#fff'
                  }
              ],

          });


          $('.fc-myCustomButton-button').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
          }).on('changeDate', function(e) {
                 console.log(e.format(0,"yyyy-mm-dd"));
                  $('#calendar').fullCalendar('gotoDate', e.format(0,"yyyy-mm-dd"));
              });

          $(".time_range_slider").slider({
               range: true,
               min: 10,
               max: 23,
               value: [11, 13],
               ticks: [10, 10.5, 11, 11.5, 12, 12.5, 13, 13.5, 14, 14.5, 15, 15.5, 16, 16.5, 17, 17.5, 18, 18.5, 19, 19.5, 20, 20.5, 21, 21.5, 22, 22.5, 23],
               ticks_labels: ['10', '30', '11', '30', '12', '30','13','30','14','30','15','30','16','30','17','30','18','30','19','30','20','30','21','30','22','30','23'],
               step: 0.5,
      });

      });
  </script>
</body>
</html>




