<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>The Table</title>
  <link href="../../../css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../../../css/custom-styles.css" rel="stylesheet" type="text/css">
  <link href="../../../css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  <link href="../../../css/fullcalendar.css" rel="stylesheet" type="text/css">
  <link href="../../../css/scheduler.css" rel="stylesheet" type="text/css">
  <link href="../../../css/fullcalendar.print.css" media="print">
</head>
<body class="fixed-nav" id="page-top">

<nav class="navbar navbar-expand-lg navbar-light fixed-top header" id="mainNav">
  <div class="navbar-brand" href="index.html">Eshak</div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item active">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <img src="../../../img/calendar_white_akvive.png" class="d-lg-none">
            <img src="../../../img/calendar_akvive.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Календар</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <img src="../../../img/chekin_white_aktiv.png" class="d-lg-none">
            <img src="../../../img/chekin_aktiv.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Check-in</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <img src="../../../img/clients_white_aktive.png" class="d-lg-none">
            <img src="../../../img/clients_aktive.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Клієнти</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <span class="count">3</span>
            <img src="../../../img/history_white_aktive.png" class="d-lg-none">
            <img src="../../../img/history_aktive.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Історія</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <img src="../../../img/profile_white_aktive.png" class="d-lg-none">
            <img src="../../../img/profile_aktive.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Профайл</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <img src="../../../img/menu_white_aktive.png" class="d-lg-none">
            <img src="../../../img/menu_aktive.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Меню</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Выход</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content-wrapper">
  <div class="container-fluid">

<div class="row min_height_calc">
    <div class="col-4">
        <div class="row h-100 menu_nav_columns">
            <div class="col-6 border-right menu_categories p-0">
                <div class="menu_nav_columns__title p-3 d-flex justify-content-between align-items-center border-bottom">
                    <span>Категории</span>
                    <i class="fa fa-plus-circle cursor_pointer" aria-hidden="true" data-toggle="modal" data-target=".category_modal"></i>
                </div>
                <div class="menu_categories__item px-3 py-2 d-flex align-items-center">
                    <i class="fa fa-bars mr-2" aria-hidden="true"></i>
                    <span class="name">Breakfast</span>
                    <span class="fa-stack cursor_pointer ml-auto" data-toggle="modal" data-target=".category_modal">
                       <i class="fa fa-circle fa-stack-2x"></i>
                       <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="menu_categories__item px-3 py-2 d-flex align-items-center menu_categories__item_active">
                    <i class="fa fa-bars mr-2" aria-hidden="true"></i>
                    <span class="name">Раки</span>
                    <span class="fa-stack cursor_pointer ml-auto" data-toggle="modal" data-target=".category_modal">
                       <i class="fa fa-circle fa-stack-2x"></i>
                       <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <div class="menu_categories__item px-3 py-2 d-flex align-items-center">
                    <i class="fa fa-bars mr-2" aria-hidden="true"></i>
                    <span class="name">Хіти Грузинської кухні минулого сторічча</span>
                    <span class="fa-stack cursor_pointer ml-auto" data-toggle="modal" data-target=".category_modal">
                       <i class="fa fa-circle fa-stack-2x"></i>
                       <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
            <div class="col-6 border-right dishes p-0">
                <div class="menu_nav_columns__title p-3 d-flex justify-content-between align-items-center border-bottom">
                    <span>Блюда</span>
                    <i class="fa fa-plus-circle cursor_pointer" aria-hidden="true" data-toggle="modal" data-target=".dish_modal"></i>
                </div>
                <div class="dishes__item px-3 py-2 d-flex align-items-center dishes__item_active">
                    <span class="name">Вареники</span>
                    <span class="price ml-auto">120</span>
                </div>
                <div class="dishes__item px-3 py-2 d-flex align-items-center">
                    <span class="name">Куряча котлета по Київськи</span>
                    <span class="price ml-auto">220</span>
                </div>
            </div>
        </div>
    </div>
    <form class="col-8 preorder">
        <div class="row py-3 border-bottom">
            <div class="col-3">
                <div class="preorder__label">Фото</div>
                <img src="http://via.placeholder.com/190x120" class="img-fluid preorder__main-img"/>
            </div>
            <div class="col-6">
                <div class="preorder__label">Название</div>
                <textarea class="h1 preorder__title w-100 border-0">Омлет з фермерським курчам та моцарелою</textarea>
            </div>
            <div class="col-3">
                <div class="preorder__label">Опубликовано</div>
                <label class="switch mt-2">
                    <input type="checkbox" name="status" checked="checked">
                    <span class="slider switcher round"></span>
                </label>
            </div>
        </div>
        <div class="row pb-3 border-bottom">
            <div class="col-auto col-md">
                <div class="form-group h-100 custom_form_group d-flex flex-column justify-content-end">
                    <label for="preorder_lateness" class="preorder__label color_custom_blue">Запізнення (хв)</label>
                    <input type="text" class="form-control font_size_22 font_lato_bold" id="preorder_lateness" name="preorder_lateness" value="-"/>
                </div>
            </div>
            <div class="col-auto col-md">
                <div class="form-group h-100 custom_form_group d-flex flex-column justify-content-end">
                    <label for="preorder_penalty" class="preorder__label color_custom_blue">Штраф (грн)</label>
                    <input type="text" class="form-control font_size_22 font_lato_bold" id="preorder_penalty" name="preorder_penalty" value="-"/>
                </div>
            </div>
            <div class="col-auto col-md">
                <div class="form-group h-100 custom_form_group d-flex flex-column justify-content-end">
                    <label for="preorder_price_value" class="preorder__label color_custom_blue">Ціна (грн)</label>
                    <select class="form-control border-0 m-0 p-0 color_custom_blue bg-transparent preorder__label" id="preorder_price_type" name="preorder_price_type">
                        <option selected="selected">за 100 гр</option>
                        <option>за штуку</option>
                        <option>порція</option>
                    </select>
                    <input type="text" class="form-control font_size_22 font_lato_bold" id="preorder_price_value" name="preorder_price_value" value="160"/>
                </div>
            </div>
            <div class="col-auto col-md">
                <div class="form-group h-100 custom_form_group d-flex flex-column justify-content-end">
                    <label for="preorder_weight" class="preorder__label color_custom_blue">Вес</label>
                    <input type="text" class="form-control font_size_22 font_lato_bold" id="preorder_weight" name="preorder_weight" value="300"/>
                </div>
            </div>
        </div>
        <div class="row py-3 border-bottom">
            <div class="col-12 preorder_params_list d-flex align-items-center">
                <span class="font mr-3">Параметры:</span>
                <button class="custom-btn transparent_btn cursor_pointer mr-3 d-flex justify-content-between align-items-center" id="preorder_choice_btn" data-toggle="modal" data-target=".params_modal" type="button">Выбор <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                <button class="custom-btn transparent_btn cursor_pointer mr-3 d-flex justify-content-between align-items-center" id="preorder_griup_btn" type="button">Группа <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
                <button class="custom-btn transparent_btn cursor_pointer mr-3 d-flex justify-content-between align-items-center" id="preorder_weight_btn" type="button">Вес <i class="fa fa-plus-circle" aria-hidden="true"></i></button>
            </div>
        </div>

        <!-- Dynamic params tables -->
        <div class="row blue_bg py-2 my-3">
            <div class="col">
                <div class="form-group h-100 custom_form_group d-flex flex-column justify-content-end">
                    <label class="preorder__label color_custom_blue">Название</label>
                    <div class="preorder_param_name font_size_22 font_lato_bold">тест</div>
                </div>
            </div>
            <div class="col">
                <div class="form-group h-100 custom_form_group d-flex flex-column justify-content-end">
                    <label class="preorder__label color_custom_blue">Тип параметра</label>
                    <div class="preorder_param_type font_size_22 font_lato_bold">Выбор</div>
                </div>
            </div>
            <div class="col">
                <div class="form-group h-100 custom_form_group d-flex flex-column justify-content-end">
                    <label class="preorder__label color_custom_blue">Цена</label>
                    <div class="preorder_param_type font_size_22 font_lato_bold">Добавление к базовой</div>
                </div>
            </div>

            <div class="table-responsive mt-3">
                <table class="table custom_table">
                    <thead class="thead-light">
                    <tr>
                        <th>Название</th>
                        <th>Значение</th>
                        <th>Результат</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>тест</th>
                        <td>258</td>
                        <td>
                            <div class="d-flex justify-content-between align-items-center">
                                398
                                <button class="close-btn d-flex align-items-center bg-transparent border-0" type="button">
                                    <i class="fa fa-times-circle ml-2" aria-hidden="true"></i>
                                </button>
                             </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-12 comment_wrapper d-flex justify-content-between align-items-center mb-4">
                <textarea class="form-control rounded-0 mr-3"  rows="1"></textarea>
                <button class="close-btn d-flex align-items-center bg-transparent border-0" type="button">
                    <i class="fa fa-times-circle ml-2" aria-hidden="true"></i>
                </button>
            </div>
            <div class="col-12 table_buttons_wrapper d-flex justify-content-end align-items-center mb-3">
                <button type="button" class="custom-btn blue_btn mr-auto">Комментарий</button>
                <button type="button" class="custom-btn pink_btn mr-3">Удалить</button>
                <button type="button" class="custom-btn blue_btn">Добавить</button>
            </div>
        </div>
        <!--  -->
        <div class="row py-3 border-bottom">
            <div class="col-12">
                <div class="form-group custom_form_group">
                    <label for="preorder_text_desc" class="preorder__label color_custom_blue">Текстовое описание</label>
                    <textarea class="form-control border-0 border-bottom border-bottom-green rounded-0" id="preorder_text_desc" rows="1"></textarea>
                </div>
            </div>
        </div>
        <input type="submit" class="custom-btn pink_btn mx-auto my-3 px-5" value="Сохранить" />
    </form>
</div>


<div class="modal fade category_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 border-0">
            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="form-group custom_form_group">
                            <label for="category_name" class="h5 text-blue">Название категории</label>
                            <input type="text" class="form-control" id="category_name" name="category_name">
                        </div>
                        <input type="submit" class="custom-btn pink_btn mx-auto" value="Сохранить" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade dish_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 border-0">
            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="form-group custom_form_group">
                            <label for="dish_category" class="h6 text-blue">Категория:</label>
                            <select class="form-control border-0 m-0 p-0 font_size_22 color_custom_blue" id="dish_category" name="dish_category">
                                <option selected="selected">Breakfast</option>
                                <option>Раки</option>
                                <option>Закуски</option>
                            </select>

                        </div>
                        <div class="form-group custom_form_group">
                            <label for="dish_name" class="h6 text-blue">Название блюда:</label>
                            <input type="text" class="form-control" id="dish_name" name="dish_name">
                        </div>
                        <div class="form-group custom_form_group">
                            <label for="dish_price" class="h6 text-blue">Цена:</label>
                            <input type="text" class="form-control" id="dish_price" name="dish_price">
                        </div>
                        <input type="submit" class="custom-btn pink_btn mx-auto" value="Сохранить" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade params_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content rounded-0 border-0">
            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="form-group custom_form_group row">
                            <label for="params_price_type" class="col-5 h6 font_size_16 text-blue col-form-label">Категория:</label>
                            <div class="col-7">
                                <select class="form-control border-0 m-0 p-0 font_size_16 color_custom_blue" id="params_price_type">
                                    <option selected="selected">Додавання до базової</option>
                                    <option>Зміна базової</option>
                                    <option>Без змін</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group custom_form_group row">
                            <label for="params_name" class="col-5 font_size_16 h6 text-blue col-form-label">Название блюда:</label>
                            <div class="col-7">
                                <input type="text" class="form-control font_size_16" id="params_name" value="">
                            </div>
                        </div>
                        <input type="submit" class="custom-btn pink_btn mx-auto" value="Сохранить" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


  </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

</div>


  <script src="../../../js/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="../../../js/bootstrap-datepicker.min.js"></script>
  <script src="../../../locales/bootstrap-datetimepicker.ru.js" charset="UTF-8"></script>
  <script src="../../../js/jquery.form-validator.min.js"></script>
  <script src="../../../js/jquery.inputmask.bundle.js"></script>

  <script src="../../../js/fullcalendar.js"></script>
  <script src="../../../js/scheduler.min.js"></script>
  <script src="../../../locales/ru.js"></script>
  <script src="../../../js/jquery.easing.min.js"></script>
  <script src="../../../js/bootstrap-slider.min.js"></script>
  <script src="../../../js/bundle.js"></script>
  <script>
      $(document).ready(function() {

          $('.selected_date_img').on('click', function(event){
              event.preventDefault();
              $('#selected_date').focus();
          });

          $('#selected_date').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
          }).on('changeDate', function(e) {
              console.log(e.format(0,"yyyy-mm-dd"));
          });

          $('#profile_bdate').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
              endDate: "<?=date('Y-m-d')?>",
          });



          var json_array = '[' +
              '{"id":"1","start":"2018-04-04T12:00:00", "end":"2018-04-04T16:00:00", "title":"event 1" },' +
              '{"id":"2","start":"2018-04-04T15:00:00", "end":"2018-04-04T16:30:00", "title":"event 2" },' +
              '{"id":"3","start":"2018-04-04T14:00:00", "end":"2018-04-04T17:45:00", "title":"event 3" }]';

          var convarray = JSON.parse(json_array);

          console.log(convarray);

          $('#calendar').fullCalendar({
              defaultDate: '2018-04-04',
              lang: 'ru',
              snapDuration : '24:00:00',
              timeFormat: 'HH:mm{ - HH:mm}',
              axisFormat: 'HH:mm',
              customButtons: {
                  myCustomButton: {
                      text: 'Выбрать дату',
                      click: function() {
                          $("#fullcalendar_datepicker").show();
                      }
                  }
              },
              header: {
                  left: 'prev,next today myCustomButton',
                  center: 'title',
                  right: ''
              },
              eventClick: function(calEvent, jsEvent, view) {
                  location.href = "http://itpromotion.com.ua/"+calEvent.id;
              },
              defaultView: 'timelineDay',
              nowIndicator:true,
              eventSources : [
                  {
                      events : convarray,
                      color : '#3f5f99',
                      textColor : '#fff'
                  }
              ],

          });


          $('.fc-myCustomButton-button').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
          }).on('changeDate', function(e) {
                 console.log(e.format(0,"yyyy-mm-dd"));
                  $('#calendar').fullCalendar('gotoDate', e.format(0,"yyyy-mm-dd"));
              });

          $(".time_range_slider").slider({
               range: true,
               min: 10,
               max: 23,
               value: [11, 13],
               ticks: [10, 10.5, 11, 11.5, 12, 12.5, 13, 13.5, 14, 14.5, 15, 15.5, 16, 16.5, 17, 17.5, 18, 18.5, 19, 19.5, 20, 20.5, 21, 21.5, 22, 22.5, 23],
               ticks_labels: ['10', '30', '11', '30', '12', '30','13','30','14','30','15','30','16','30','17','30','18','30','19','30','20','30','21','30','22','30','23'],
               step: 0.5,
      });

      });
  </script>
</body>
</html>




