<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>The Table</title>
  <link href="../../../css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../../../css/custom-styles.css" rel="stylesheet" type="text/css">
  <link href="../../../css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  <link href="../../../css/fullcalendar.css" rel="stylesheet" type="text/css">
  <link href="../../../css/scheduler.css" rel="stylesheet" type="text/css">
  <link href="../../../css/fullcalendar.print.css" media="print">
</head>
<body class="fixed-nav" id="page-top">

<nav class="navbar navbar-expand-lg navbar-light fixed-top header" id="mainNav">
  <div class="navbar-brand" href="index.html">Eshak</div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa fa-bars" aria-hidden="true"></i>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item active">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <img src="../../../img/calendar_white_akvive.png" class="d-lg-none">
            <img src="../../../img/calendar_akvive.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Календар</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <img src="../../../img/chekin_white_aktiv.png" class="d-lg-none">
            <img src="../../../img/chekin_aktiv.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Check-in</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <img src="../../../img/clients_white_aktive.png" class="d-lg-none">
            <img src="../../../img/clients_aktive.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Клієнти</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <span class="count">3</span>
            <img src="../../../img/history_white_aktive.png" class="d-lg-none">
            <img src="../../../img/history_aktive.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Історія</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <img src="../../../img/profile_white_aktive.png" class="d-lg-none">
            <img src="../../../img/profile_aktive.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Профайл</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap">
            <img src="../../../img/menu_white_aktive.png" class="d-lg-none">
            <img src="../../../img/menu_aktive.png" class="d-none d-lg-block">
          </div>
          <span class="nav-link-text pl-4">Меню</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Выход</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content-wrapper">
  <div class="container-fluid">

<div class="row blue_bg py-2 border-bottom">
    <div class="col-12 d-flex justify-content-between">
        <a href="#!" class="back_breadcrumb  d-flex align-items-center">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="ml-4">Расписание столика</span>
        </a>
    </div>
</div>
<div class="row pl-4 pr-4 py-4 schedule-info border-bottom">
    <div class="col-12 col-sm-3 col-md-auto text-center mb-4 mb-sm-0 user-history__img">
        <img src="http://via.placeholder.com/100x150" class="img-fluid"/>
    </div>
    <div class="col-12 col-sm-auto d-flex flex-column justify-content-center">
        <p class="mb-2 schedule-info__item">36 (места - 4)</p>
        <p class="mb-2 schedule-info__item">05 апр. 2018 г.</p>
        <p class="mb-2 schedule-info__item">Зона: ВСЕ</p>
    </div>
    <div class="col-12 col-sm d-flex flex-column align-items-center justify-content-center">
        <div class="schedule-info__period text-center d-none">
            <p>с <span class="schedule_from">15:00</span> до <span class="schedule_to">21:00</span></p>
            <button class="custom-btn pink_btn px-5">Выбрать время</button>
        </div>

        <div class="schedule-info__period text-center">
            <button class="custom-btn green_btn px-5" data-toggle="modal" data-target="#modal_all_day_reservation" data-dismiss="modal">Резервировать на весь день</button>
        </div>
    </div>

    <div class="modal fade success" id="modal_all_day_reservation" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog  modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>Резервировать на весь день</span>
                            <button class="custom-btn blue_btn" data-dismiss="modal" aria-label="Close">Отменить</button>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-4">
                            <button type="button" class="custom-btn transparent_btn">Только стол</button>
                            <button type="button" class="custom-btn transparent_btn">Вся зона</button>
                        </div>

                        <div class="custom_form_group mt-4">
                            <input type="text" class="mx-3 border-bottom-green font_size_30 border-0 color_" value="500">
                        </div>
                        <button type="button" class="custom-btn green_btn mx-auto mt-3">Внести сумму в кассу</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<form class="row mt-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group custom_checkbox_group">
            <label>
                <input type="checkbox" name="schedule_time[]" disabled="disabled"/>
                <span>10:00</span>
            </label>
            <label>
                <input type="checkbox" name="schedule_time[]" disabled="disabled"/>
                <span>10:30</span>
            </label>
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>11:00</span>
            </label>
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>11:30</span>
            </label>
            <a href="#!" class="reserved-item d-flex flex-column justify-content-between">
                <span class="reserved-item__time pb-2">12:00-12:30</span>
                <span class="reserved-item__client pb-2">Діма Богонос</span>
                <span class="reserved-item__phone">3806895962142</span>
            </a>
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>13:00</span>
            </label>
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>13:30</span>
            </label>


        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group custom_checkbox_group">
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>14:00</span>
            </label>
            <a href="#!" class="reserved-item d-flex flex-column justify-content-between">
                <span class="reserved-item__time pb-2"><span class="pink_round_icon mr-2"><img src="../../../img/menu_pass.png" class="img-fluid"/></span>14:00-15:30</span>
                <span class="reserved-item__client pb-2">Діма Богонос</span>
                <span class="reserved-item__phone">3806895962142</span>
            </a>
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>15:30</span>
            </label>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">3</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">4</div>
</form>




  </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

</div>


  <script src="../../../js/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="../../../js/bootstrap-datepicker.min.js"></script>
  <script src="../../../locales/bootstrap-datetimepicker.ru.js" charset="UTF-8"></script>
  <script src="../../../js/jquery.form-validator.min.js"></script>
  <script src="../../../js/jquery.inputmask.bundle.js"></script>

  <script src="../../../js/fullcalendar.js"></script>
  <script src="../../../js/scheduler.min.js"></script>
  <script src="../../../locales/ru.js"></script>
  <script src="../../../js/jquery.easing.min.js"></script>
  <script src="../../../js/bootstrap-slider.min.js"></script>
  <script src="../../../js/bundle.js"></script>
  <script>
      $(document).ready(function() {

          $('.selected_date_img').on('click', function(event){
              event.preventDefault();
              $('#selected_date').focus();
          });

          $('#selected_date').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
          }).on('changeDate', function(e) {
              console.log(e.format(0,"yyyy-mm-dd"));
          });

          $('#profile_bdate').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
              endDate: "<?=date('Y-m-d')?>",
          });



          var json_array = '[' +
              '{"id":"1","start":"2018-04-04T12:00:00", "end":"2018-04-04T16:00:00", "title":"event 1" },' +
              '{"id":"2","start":"2018-04-04T15:00:00", "end":"2018-04-04T16:30:00", "title":"event 2" },' +
              '{"id":"3","start":"2018-04-04T14:00:00", "end":"2018-04-04T17:45:00", "title":"event 3" }]';

          var convarray = JSON.parse(json_array);

          console.log(convarray);

          $('#calendar').fullCalendar({
              defaultDate: '2018-04-04',
              lang: 'ru',
              snapDuration : '24:00:00',
              timeFormat: 'HH:mm{ - HH:mm}',
              axisFormat: 'HH:mm',
              customButtons: {
                  myCustomButton: {
                      text: 'Выбрать дату',
                      click: function() {
                          $("#fullcalendar_datepicker").show();
                      }
                  }
              },
              header: {
                  left: 'prev,next today myCustomButton',
                  center: 'title',
                  right: ''
              },
              eventClick: function(calEvent, jsEvent, view) {
                  location.href = "http://itpromotion.com.ua/"+calEvent.id;
              },
              defaultView: 'timelineDay',
              nowIndicator:true,
              eventSources : [
                  {
                      events : convarray,
                      color : '#3f5f99',
                      textColor : '#fff'
                  }
              ],

          });


          $('.fc-myCustomButton-button').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
          }).on('changeDate', function(e) {
                 console.log(e.format(0,"yyyy-mm-dd"));
                  $('#calendar').fullCalendar('gotoDate', e.format(0,"yyyy-mm-dd"));
              });

          $(".time_range_slider").slider({
               range: true,
               min: 10,
               max: 23,
               value: [11, 13],
               ticks: [10, 10.5, 11, 11.5, 12, 12.5, 13, 13.5, 14, 14.5, 15, 15.5, 16, 16.5, 17, 17.5, 18, 18.5, 19, 19.5, 20, 20.5, 21, 21.5, 22, 22.5, 23],
               ticks_labels: ['10', '30', '11', '30', '12', '30','13','30','14','30','15','30','16','30','17','30','18','30','19','30','20','30','21','30','22','30','23'],
               step: 0.5,
      });

      });
  </script>
</body>
</html>




