<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>The Table</title>
  <link href="@@webRoot/../css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="@@webRoot/../css/custom-styles.css" rel="stylesheet" type="text/css">
  <link href="@@webRoot/../css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  <link href="@@webRoot/../css/fullcalendar.css" rel="stylesheet" type="text/css">
  <link href="@@webRoot/../css/scheduler.css" rel="stylesheet" type="text/css">
  <link href="@@webRoot/../css/fullcalendar.print.css" media="print">
</head>
<body class="fixed-nav" id="page-top">
  <!-- @@placeholder = content -->

  <script src="@@webRoot/../js/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="@@webRoot/../js/bootstrap-datepicker.min.js"></script>
  <script src="@@webRoot/../locales/bootstrap-datetimepicker.ru.js" charset="UTF-8"></script>
  <script src="@@webRoot/../js/jquery.form-validator.min.js"></script>
  <script src="@@webRoot/../js/jquery.inputmask.bundle.js"></script>

  <script src="@@webRoot/../js/fullcalendar.js"></script>
  <script src="@@webRoot/../js/scheduler.min.js"></script>
  <script src="@@webRoot/../locales/ru.js"></script>
  <script src="@@webRoot/../js/bundle.js"></script>
  <script>
      $(document).ready(function() {
          $('#profile_bdate').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
              endDate: "<?=date('Y-m-d')?>",
          });

          var json_array = '[' +
              '{"id":"1","start":"2018-04-04T12:00:00", "end":"2018-04-04T16:00:00", "title":"event 1" },' +
              '{"id":"2","start":"2018-04-04T15:00:00", "end":"2018-04-04T16:30:00", "title":"event 2" },' +
              '{"id":"3","start":"2018-04-04T14:00:00", "end":"2018-04-04T17:45:00", "title":"event 3" }]';

          var convarray = JSON.parse(json_array);

          console.log(convarray);

          $('#calendar').fullCalendar({
              defaultDate: '2018-04-04',
              lang: 'ru',
              snapDuration : '24:00:00',
              timeFormat: 'HH:mm{ - HH:mm}',
              axisFormat: 'HH:mm',
              customButtons: {
                  myCustomButton: {
                      text: 'Выбрать дату',
                      click: function() {
                          $("#fullcalendar_datepicker").show();
                      }
                  }
              },
              header: {
                  left: 'prev,next today myCustomButton',
                  center: 'title',
                  right: ''
              },
              eventClick: function(calEvent, jsEvent, view) {
                  location.href = "http://itpromotion.com.ua/"+calEvent.id;
              },
              defaultView: 'timelineDay',
              nowIndicator:true,
              eventSources : [
                  {
                      events : convarray,
                      color : '#3f5f99',
                      textColor : '#fff'
                  }
              ],

          });


          $('.fc-myCustomButton-button').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
          }).on('changeDate', function(e) {
                 console.log(e.format(0,"yyyy-mm-dd"));
                  $('#calendar').fullCalendar('gotoDate', e.format(0,"yyyy-mm-dd"));
              });

      });
  </script>
</body>
</html>




