<!-- @@master = /layout/app.html-->
<!-- @@block = content -->
<div class="row blue_bg p-4">
    <div class="col-12">
        <form class="d-flex align-items-center flex-wrap flex-md-nowrap clients_search_wrap">
            <div class="input-group d-flex flex-nowrap align-items-center mb-4 mb-md-0">
                <div class="input-group-prepend">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input type="text" class="mx-3 border-bottom-green" placeholder="Пошук по імені чи телефону">
            </div>
        </form>
    </div>
</div>
<!--<div class="row px-4 mt-4">
    <div class="col-10">
     1
    </div>
    <div class="col-2 d-flex align-items-center justify-content-around">
        <button class="btn btn-light">Выбрать</button>
        <i class="fa fa-refresh" aria-hidden="true"></i>
    </div>
</div> -->
<div class="row px-4 mt-4">
    <div class="col-12" id="calendar"></div>
</div>


<!-- @@close -->