<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>The Table</title>
  <link href="../../../css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="../../../css/custom-styles.css" rel="stylesheet" type="text/css">
  <link href="../../../css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css">
  <link href="../../../css/fullcalendar.css" rel="stylesheet" type="text/css">
  <link href="../../../css/scheduler.css" rel="stylesheet" type="text/css">
  <link href="../../../css/fullcalendar.print.css" media="print">
</head>
<body class="fixed-nav" id="page-top">

<nav class="navbar navbar-expand-lg navbar-light fixed-top header" id="mainNav">
  <div class="navbar-brand" href="index.html">Eshak</div>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
      <li class="nav-item active">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><img src="../../../img/calendar_akvive.png"></div>
          <span class="nav-link-text pl-4">Календар</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><img src="../../../img/chekin_aktiv.png"></div>
          <span class="nav-link-text pl-4">Check-in</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><img src="../../../img/clients_aktive.png"></div>
          <span class="nav-link-text pl-4">Клієнти</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><span class="count">3</span><img src="../../../img/history_aktive.png"></div>
          <span class="nav-link-text pl-4">Історія</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-left d-flex align-items-center pl-lg-5" href="../../../template/pages/table.html">
          <div class="img_wrap"><img src="../../../img/profile_aktive.png"></div>
          <span class="nav-link-text pl-4">Профайл</span>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav sidenav-toggler">
      <li class="nav-item">
        <a class="nav-link text-center" id="sidenavToggler">
          <i class="fa fa-fw fa-angle-left"></i>
        </a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Выход</a>
      </li>
    </ul>
  </div>
</nav>
<div class="content-wrapper">
  <div class="container-fluid">

<div class="row blue_bg p-4">
    <div class="col-12">
        <form class="d-flex align-items-center flex-wrap flex-md-nowrap clients_search_wrap">
            <div class="input-group d-flex flex-nowrap align-items-center mb-4 mb-md-0">
                <div class="input-group-prepend">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </div>
                <input type="text" class="mx-3" placeholder="Пошук по імені чи номеру">
            </div>
            <button class="custom-btn blue_btn mr-3">Актуальные бронирования</button>
            <button class="custom-btn transparent_btn mr-3">Check-in</button>
            <button class="custom-btn transparent_btn">Все</button>
        </form>
    </div>
</div>
<div class="row usersGrid px-4 mt-4">
    <div class="col-12 col-sm-6 col-md-3 col-xl mb-3">
        <div class="usersGrid__item item usersGrid__item_first usersGrid__item_blue d-flex flex-column justify-content-center align-items-center h-100" data-toggle="modal" data-target="#modal_add">
            <i class="fa fa-plus" aria-hidden="true"></i>
            <span>Створити профайл</span>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-xl mb-3">
        <div class="usersGrid__item usersGrid__item_blue item d-flex flex-column h-100">
            <div class="item__icons"><img src="../../../img/client_table_logo.png" class="img-fluid"></div>
            <div class="item__image text-center">
                <img src="http://via.placeholder.com/85x85" class="img-fluid rounded-circle"/>
            </div>
            <div class="item__title text-center"><a href="#!">Максим Коваль</a></div>
            <div class="item__phone text-center">+380673607437</div>
            <div class="item__visit text-center">100% візитів</div>
            <div class="item__rating text-center">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <button class="item__remind custom-btn light_blue_btn">Нагадати</button>
            <div class="item__time d-flex justify-content-between align-items-center">
                <div><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="time_value">17:00</span></div>
                <div>3VIP</div>
            </div>
            <button class="item__chekin custom-btn green_btn">Chek-in</button>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-xl mb-3">
        <div class="usersGrid__item usersGrid__item_green item d-flex flex-column h-100">
            <div class="item__image text-center">
                <img src="http://via.placeholder.com/85x85" class="img-fluid rounded-circle"/>
            </div>
            <div class="item__title text-center">Максим Коваль</div>
            <div class="item__phone text-center">+380673607437</div>
            <div class="item__visit text-center">100% візитів</div>
            <div class="item__rating text-center">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <button class="item__remind custom-btn light_blue_btn">Нагадати</button>
            <div class="item__time d-flex justify-content-between align-items-center">
                <div><span class="plus_item">+2</span><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="time_value">17:00</span></div>
                <div>3VIP</div>
            </div>
            <button class="item__chekin custom-btn green_btn">Chek-in</button>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-xl mb-3">
        <div class="usersGrid__item item d-flex flex-column h-100">
            <div class="item__image text-center">
                <img src="http://via.placeholder.com/85x85" class="img-fluid rounded-circle"/>
            </div>
            <div class="item__title text-center">Максим Коваль</div>
            <div class="item__phone text-center">+380673607437</div>
            <div class="item__new text-center">Новий клієнт</div>
            <div class="item__rating text-center">
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3 col-xl mb-3">
        <div class="usersGrid__item usersGrid__item_pink item d-flex flex-column h-100">
            <div class="item__image text-center">
                <img src="http://via.placeholder.com/85x85" class="img-fluid rounded-circle"/>
            </div>
            <div class="item__title text-center">Максим Коваль</div>
            <div class="item__phone text-center">+380673607437</div>
            <div class="item__visit text-center">100% візитів</div>
            <div class="item__rating text-center">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <button class="item__invitation custom-btn light_blue_btn">Запрошення</button>
            <div class="item__time d-flex justify-content-between align-items-center">
                <div><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="time_value">17:00</span></div>
                <div>3VIP</div>
            </div>
            <button class="item__chekin custom-btn green_btn">Chek-in</button>
        </div>
    </div>

    <div class="col-12 col-sm-6 col-md-3 col-xl mb-3">
        <div class="usersGrid__item item d-flex flex-column h-100">
            <div class="item__image text-center">
                <img src="http://via.placeholder.com/85x85" class="img-fluid rounded-circle"/>
            </div>
            <div class="item__title text-center">Максим Коваль</div>
            <div class="item__phone text-center">+380673607437</div>
            <div class="item__visit text-center">100% візитів</div>
            <div class="item__rating text-center">
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star" aria-hidden="true"></i>
                <i class="fa fa-star-o" aria-hidden="true"></i>
            </div>
            <button class="item__remind custom-btn light_blue_btn">Нагадати</button>
            <div class="item__time d-flex justify-content-between align-items-center">
                <div><span class="plus_item">+1</span><i class="fa fa-clock-o" aria-hidden="true"></i> <span class="time_value">17:00</span></div>
                <div>3VIP</div>
            </div>
            <button class="item__chekin custom-btn pink_btn">Chek-out</button>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                    <div class="container-fluid">
                        <form>
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="form-group custom_form_group">
                                        <label for="profile_phone"><span class="text-danger">*</span>Создать профайл</label>
                                        <input type="text" class="form-control phone_mask" id="profile_phone" name="profile_phone" placeholder="380 XX XXX XXXX" data-validation="required" data-validation-error-msg="Введите телефон" />
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-xl-6">
                                            <div class="form-group custom_form_group">
                                                <label for="profile_name"><span class="text-danger">*</span>Имя</label>
                                                <input type="text" class="form-control" id="profile_name" name="profile_name" data-validation="required" data-validation-error-msg="Введите имя"/>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xl-6">
                                            <div class="form-group custom_form_group">
                                                <label for="profile_second_name">Фамилия</label>
                                                <input type="text" class="form-control" id="profile_second_name" name="profile_second_name">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group custom_form_group">
                                        <label for="profile_email">E-mail</label>
                                        <input type="text" class="form-control" id="profile_email" name="profile_email">
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group custom_form_group">
                                        <label for="profile_bdate">Дата рождения</label>
                                        <input type="text" class="form-control" id="profile_bdate" name="profile_bdate">
                                    </div>
                                    <div class="form-group custom_form_group">
                                        <label>Статус</label>
                                    </div>
                                    <div class="form-group" id="star_rating_wrapper">
                                        <div class="rating">
                                            <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                                            <label for="star5" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                            <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                                            <label for="star4" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                            <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                                            <label for="star3" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                            <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" checked="checked" />
                                            <label for="star2" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                            <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                                            <label for="star1" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                    <div class="form-group custom_form_group">
                                        <label>Пол</label>
                                    </div>
                                    <div class="form-group custom_radio_group">
                                        <label>
                                            <input type="radio" name="options"/>
                                            <span>Мужской</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="options"/>
                                            <span>Женский</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group custom_form_group">
                                        <label>Примерный возраст</label>
                                    </div>
                                    <div class="form-group custom_radio_group">
                                        <label>
                                            <input type="radio" name="approximate_age"/>
                                            <span>18-25</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="approximate_age"/>
                                            <span>26-35</span>
                                        </label>
                                        <label>
                                            <input type="radio" name="approximate_age"/>
                                            <span>36-50</span>
                                        </label>
                                    </div>
                                    <input type="submit" class="custom-btn pink_btn float-right" value="Создать" />
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>

  </div>


  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fa fa-angle-up"></i>
  </a>

</div>


  <script src="../../../js/moment.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="../../../js/bootstrap-datepicker.min.js"></script>
  <script src="../../../locales/bootstrap-datetimepicker.ru.js" charset="UTF-8"></script>
  <script src="../../../js/jquery.form-validator.min.js"></script>
  <script src="../../../js/jquery.inputmask.bundle.js"></script>

  <script src="../../../js/fullcalendar.js"></script>
  <script src="../../../js/scheduler.min.js"></script>
  <script src="../../../locales/ru.js"></script>
  <script src="../../../js/jquery.easing.min.js"></script>
  <script src="../../../js/bootstrap-slider.min.js"></script>
  <script src="../../../js/bundle.js"></script>
  <script>
      $(document).ready(function() {

          $('.selected_date_img').on('click', function(event){
              event.preventDefault();
              $('#selected_date').focus();
          });

          $('#selected_date').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
          }).on('changeDate', function(e) {
              console.log(e.format(0,"yyyy-mm-dd"));
          });

          $('#profile_bdate').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
              endDate: "<?=date('Y-m-d')?>",
          });



          var json_array = '[' +
              '{"id":"1","start":"2018-04-04T12:00:00", "end":"2018-04-04T16:00:00", "title":"event 1" },' +
              '{"id":"2","start":"2018-04-04T15:00:00", "end":"2018-04-04T16:30:00", "title":"event 2" },' +
              '{"id":"3","start":"2018-04-04T14:00:00", "end":"2018-04-04T17:45:00", "title":"event 3" }]';

          var convarray = JSON.parse(json_array);

          console.log(convarray);

          $('#calendar').fullCalendar({
              defaultDate: '2018-04-04',
              lang: 'ru',
              snapDuration : '24:00:00',
              timeFormat: 'HH:mm{ - HH:mm}',
              axisFormat: 'HH:mm',
              customButtons: {
                  myCustomButton: {
                      text: 'Выбрать дату',
                      click: function() {
                          $("#fullcalendar_datepicker").show();
                      }
                  }
              },
              header: {
                  left: 'prev,next today myCustomButton',
                  center: 'title',
                  right: ''
              },
              eventClick: function(calEvent, jsEvent, view) {
                  location.href = "http://itpromotion.com.ua/"+calEvent.id;
              },
              defaultView: 'timelineDay',
              nowIndicator:true,
              eventSources : [
                  {
                      events : convarray,
                      color : '#3f5f99',
                      textColor : '#fff'
                  }
              ],

          });


          $('.fc-myCustomButton-button').datepicker({
              format: "yyyy-mm-dd",
              autoclose: true,
              language: 'ru',
              orientation: "bottom auto" ,
              todayHighlight: true,
          }).on('changeDate', function(e) {
                 console.log(e.format(0,"yyyy-mm-dd"));
                  $('#calendar').fullCalendar('gotoDate', e.format(0,"yyyy-mm-dd"));
              });

          $(".time_range_slider").slider({
               range: true,
               min: 10,
               max: 23,
               value: [11, 13],
               ticks: [10, 10.5, 11, 11.5, 12, 12.5, 13, 13.5, 14, 14.5, 15, 15.5, 16, 16.5, 17, 17.5, 18, 18.5, 19, 19.5, 20, 20.5, 21, 21.5, 22, 22.5, 23],
               ticks_labels: ['10', '30', '11', '30', '12', '30','13','30','14','30','15','30','16','30','17','30','18','30','19','30','20','30','21','30','22','30','23'],
               step: 0.5,
      });

      });
  </script>
</body>
</html>




