<!-- @@master = /layout/app.html-->
<!-- @@block = content -->
<div class="row blue_bg p-4">
    <div class="col-12 d-flex align-items-center mb-4">
        <img src="@@webRoot/../img/calendar_akvive.png" class="selected_date_img mr-4"/>
        <input type="text" class="form-control" id="selected_date" name="selected_date" value="2018-04-04">
    </div>
    <div class="col-12">
        <input class="time_range_slider" name="time_range_slider" type="text" value="" />
    </div>
</div>
<div class="row flex_grow_1">
    <canvas id="canvas" class="w-100 d-flex flex_grow_1"></canvas>
</div>
<!-- @@close -->
