<!-- @@master = /layout/app.html-->
<!-- @@block = content -->
<div class="row blue_bg py-2 border-bottom">
    <div class="col-12 d-flex justify-content-between">
        <a href="#!" class="back_breadcrumb  d-flex align-items-center">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="ml-4">Бронирование стола</span>
        </a>
    </div>
</div>
<div class="row blue_bg pl-4 pr-4 py-4 schedule-info border-bottom">
    <div class="col-12 col-sm-3 col-md-auto text-center mb-4 mb-sm-0 user-history__img">
        <img src="http://via.placeholder.com/100x150" class="img-fluid"/>
    </div>
    <div class="col-12 col-sm-auto d-flex flex-column justify-content-center">
        <p class="mb-2 schedule-info__item">36 (места - 4)</p>
        <p class="mb-2 schedule-info__item">05 апр. 2018 г.</p>
        <p class="mb-2 schedule-info__item">Зона: ВСЕ</p>
        <p class="mb-2 schedule-info__item">с <span class="schedule_from">15:00</span> до <span class="schedule_to">21:00</span></p>
    </div>
    <div class="col-12 col-sm d-flex align-items-center justify-content-center">
        <div class="schedule-info__deposit d-flex justify-content-center align-items-center">
            Депозит: <input type="number" name="deposit_value" value="0">
        </div>
        <button class="close-btn d-flex align-items-center bg-transparent border-0">
            <i class="fa fa-times-circle ml-2" aria-hidden="true"></i>
        </button>
    </div>
</div>
<div class="d-flex flex-column align-items-center reservation-buttons">
    <button class="custom-btn transparent_btn px-5 mt-5 reservation-buttons__item" data-toggle="modal" data-target="#modal_search">Поиск</button>
    <button class="custom-btn transparent_btn px-5 mt-4 reservation-buttons__item" data-toggle="modal" data-target="#modal_add">Создать профайл</button>
    <button class="custom-btn transparent_btn px-5 mt-4 reservation-buttons__item" data-toggle="modal" data-target="#modal_incognito" >Бронировать инкогнито</button>
</div>

<div class="modal fade" id="modal_search" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <form class="d-flex align-items-center flex-wrap flex-md-nowrap clients_search_wrap mt-3 mb-5">
                        <div class="input-group d-flex flex-nowrap align-items-center mb-4 mb-md-0">
                            <div class="input-group-prepend">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                            <input type="text" class="mx-3 modal_search" placeholder="Поиск по имени или телефону">
                        </div>
                        <button class="custom-btn pink_btn mr-3" data-toggle="modal" data-target="#modal_add" data-dismiss="modal">Создать профайл</button>
                        <button class="custom-btn blue_btn mr-3" data-dismiss="modal" aria-label="Close">Вернуться</button>
                    </form>
                    <div class="search_results_wrap mb-5">
                        <div class="table-responsive">
                            <table class="table custom_table">
                                <tbody>
                                <tr>
                                    <td><img src="http://via.placeholder.com/50x50" class="img-fluid rounded-circle"/></th>
                                    <td>Діма Богонос</td>
                                    <td>380673607437</td>
                                    <td>
                                        <div class="form-group star_rating_wrapper mb-1">
                                            <div class="rating">
                                                <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                                                <label for="star5" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                                <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                                                <label for="star4" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                                <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                                                <label for="star3" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                                <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" checked="checked" />
                                                <label for="star2" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                                <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                                                <label for="star1" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-end align-items-center">
                                            <span id="edit_user_from_search_modal" class="fa-stack fa-lg mr-3 cursor_pointer">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
                                            </span>
                                            <button class="custom-btn blue_btn mr-3" id="book_from_search_modal">Бронировать</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_add" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fa fa-times" aria-hidden="true"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <form>
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <div class="form-group custom_form_group">
                                    <label for="profile_phone"><span class="text-danger">*</span>Создать профайл</label>
                                    <input type="text" class="form-control phone_mask" id="profile_phone" name="profile_phone" placeholder="380 XX XXX XXXX" data-validation="required" data-validation-error-msg="Введите телефон" />
                                </div>
                                <div class="row">
                                    <div class="col-12 col-xl-6">
                                        <div class="form-group custom_form_group">
                                            <label for="profile_name"><span class="text-danger">*</span>Имя</label>
                                            <input type="text" class="form-control" id="profile_name" name="profile_name" data-validation="required" data-validation-error-msg="Введите имя"/>
                                        </div>
                                    </div>
                                    <div class="col-12 col-xl-6">
                                        <div class="form-group custom_form_group">
                                            <label for="profile_second_name">Фамилия</label>
                                            <input type="text" class="form-control" id="profile_second_name" name="profile_second_name">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group custom_form_group">
                                    <label for="profile_email">E-mail</label>
                                    <input type="text" class="form-control" id="profile_email" name="profile_email">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <div class="form-group custom_form_group">
                                    <label for="profile_bdate">Дата рождения</label>
                                    <input type="text" class="form-control" id="profile_bdate" name="profile_bdate">
                                </div>
                                <div class="form-group custom_form_group">
                                    <label>Статус</label>
                                </div>
                                <div class="form-group star_rating_wrapper">
                                    <div class="rating">
                                        <input id="star5" name="star" type="radio" value="5" class="radio-btn hide" />
                                        <label for="star5" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                        <input id="star4" name="star" type="radio" value="4" class="radio-btn hide" />
                                        <label for="star4" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                        <input id="star3" name="star" type="radio" value="3" class="radio-btn hide" />
                                        <label for="star3" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                        <input id="star2" name="star" type="radio" value="2" class="radio-btn hide" checked="checked" />
                                        <label for="star2" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                        <input id="star1" name="star" type="radio" value="1" class="radio-btn hide" />
                                        <label for="star1" ><i class="fa fa-star-o" aria-hidden="true"></i></label>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                                <div class="form-group custom_form_group">
                                    <label>Пол</label>
                                </div>
                                <div class="form-group custom_radio_group">
                                    <label>
                                        <input type="radio" name="options"/>
                                        <span>Мужской</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="options"/>
                                        <span>Женский</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group custom_form_group">
                                    <label>Примерный возраст</label>
                                </div>
                                <div class="form-group custom_radio_group">
                                    <label>
                                        <input type="radio" name="approximate_age"/>
                                        <span>18-25</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="approximate_age"/>
                                        <span>26-35</span>
                                    </label>
                                    <label>
                                        <input type="radio" name="approximate_age"/>
                                        <span>36-50</span>
                                    </label>
                                </div>
                                <input type="submit" class="custom-btn pink_btn float-right" value="Создать" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade incognito" id="modal_incognito" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row border-bottom">
                        <div class="col-12 incognito__title py-3 text-center">Подтвердить бронирование</div>
                    </div>
                    <div class="row border-bottom">
                        <div class="col-6 incognito__tbl-image py-3 d-flex justify-content-end align-items-center" id="incognito_table_img">
                            <img src="http://via.placeholder.com/100x140" class="img-fluid"/>
                        </div>
                        <div class="col-6 incognito__tbl-info py-3 d-flex flex-column justify-content-center">
                            <p id="incognito_table" class="mb-1">80 (места - 2)</p>
                            <p id="incognito_date" class="mb-1">06 апр. 2018 г.</p>
                            <p id="incognito_zone" class="mb-1">Зона: Основний зал</p>
                            <p class="mb-1">с <span id="incognito_from">15:30</span> до <span id="incognito_to">16:00</span></p>
                        </div>
                    </div>
                    <div class="row border-bottom">
                        <div class="col-6 incognito__incg-image py-3 d-flex justify-content-end align-items-center"><img src="http://via.placeholder.com/80x80" class="img-fluid rounded-circle"/></div>
                        <div class="col-6 incognito__tbl-info py-3 d-flex flex-column justify-content-center">
                            <p class="mb-1">ANONYMOUS</p>
                            <p class="mb-1 small">ANONYMOUS</p>
                        </div>
                    </div>
                    <div class="row border-bottom">
                        <div class="col-6 d-flex py-3 align-items-center">
                            <button class="custom-btn pink_btn w-100" data-dismiss="modal" aria-label="Close">Отменить</button>
                        </div>
                        <div class="col-6 d-flex py-3 align-items-center">
                            <button type="submit" form="incognito_form" class="custom-btn blue_btn w-100" id="incognito_submit">Подтвердить</button>
                        </div>
                    </div>
                    <form id="incognito_form" class="incognito__deposit">
                        <div class="row py-3">
                            <label for="incognito_deposit_value" class="col-4 mb-0 d-flex align-items-center justify-content-end">Депозит:</label>
                            <div class="col-8">
                                <input type="number" class="form-control text-center incognito_deposit_value" id="incognito_deposit_value" name="incognito_deposit_value" value="0"/>
                            </div>
                        </div>
                        <div class="row py-3">
                            <label for="incognito_deposit_comment" class="col-4 mb-0 d-flex align-items-center justify-content-end">Комментарий:</label>
                            <div class="col-8">
                                <input type="text" class="form-control incognito_deposit_comment" id="incognito_deposit_comment" name="incognito_deposit_comment" value=""/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- @@close -->
