<!-- @@master = /layout/app.html-->
<!-- @@block = content -->
<div class="row blue_bg py-2 border-bottom">
    <div class="col-12 d-flex justify-content-between">
        <a href="#!" class="back_breadcrumb  d-flex align-items-center">
            <i class="fa fa-angle-left" aria-hidden="true"></i>
            <span class="ml-4">Расписание столика</span>
        </a>
    </div>
</div>
<div class="row pl-4 pr-4 py-4 schedule-info border-bottom">
    <div class="col-12 col-sm-3 col-md-auto text-center mb-4 mb-sm-0 user-history__img">
        <img src="http://via.placeholder.com/100x150" class="img-fluid"/>
    </div>
    <div class="col-12 col-sm-auto d-flex flex-column justify-content-center">
        <p class="mb-2 schedule-info__item">36 (места - 4)</p>
        <p class="mb-2 schedule-info__item">05 апр. 2018 г.</p>
        <p class="mb-2 schedule-info__item">Зона: ВСЕ</p>
    </div>
    <div class="col-12 col-sm d-flex flex-column align-items-center justify-content-center">
        <div class="schedule-info__period text-center">
            <p>с <span class="schedule_from">15:00</span> до <span class="schedule_to">21:00</span></p>
            <button class="custom-btn pink_btn px-5">Выбрать время</button>
        </div>
    </div>
</div>
<form class="row mt-3">
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group custom_checkbox_group">
            <label>
                <input type="checkbox" name="schedule_time[]" disabled="disabled"/>
                <span>10:00</span>
            </label>
            <label>
                <input type="checkbox" name="schedule_time[]" disabled="disabled"/>
                <span>10:30</span>
            </label>
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>11:00</span>
            </label>
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>11:30</span>
            </label>
            <a href="#!" class="reserved-item d-flex flex-column justify-content-between">
                <span class="reserved-item__time pb-2">12:00-12:30</span>
                <span class="reserved-item__client pb-2">Діма Богонос</span>
                <span class="reserved-item__phone">3806895962142</span>
            </a>
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>13:00</span>
            </label>
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>13:30</span>
            </label>


        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="form-group custom_checkbox_group">
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>14:00</span>
            </label>
            <a href="#!" class="reserved-item d-flex flex-column justify-content-between">
                <span class="reserved-item__time pb-2"><span class="pink_round_icon mr-2"><img src="@@webRoot/../img/menu_pass.png" class="img-fluid"/></span>14:00-15:30</span>
                <span class="reserved-item__client pb-2">Діма Богонос</span>
                <span class="reserved-item__phone">3806895962142</span>
            </a>
            <label>
                <input type="checkbox" name="schedule_time[]"/>
                <span>15:30</span>
            </label>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">3</div>
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">4</div>
</form>



<!-- @@close -->
