<!-- @@master = /layout/main.html-->
<!-- @@block = content -->
<div class="login_wrapper d-flex flex-column justify-content-center align-items-center">
<div class="container mt-auto pb-5">
    <div class="card card-login mx-auto">
        <div class="card-body">
            <form>
                <div class="form-logo d-flex justify-content-center align-items-center mb-2">
                    <img src="@@webRoot/../img/login_logo_144.png" class="img-fluid mx-auto">
                </div>
                <div class="form-group">
                    <label for="login" class="m-0">Ваш логин</label>
                    <input class="form-control rounded-0" id="login">
                </div>
                <div class="form-group">
                    <label for="password" class="m-0">Ваш пароль</label>
                    <input class="form-control rounded-0" id="password" type="password">
                </div>
            </form>
        </div>
    </div>

    <button class="btn btn-primary btn-block mx-auto mt-2 enter_btn border-0" href="index.html">Войти</button>
</div>
    <div class="login_footer p-4 mt-auto">The Tables for Administrators</div>
</div>
<!-- @@close -->
